body {
    background-image: url(./Images/wood_background.jpg);
    background-repeat: repeat;
}

header {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: larger;
}

.navbar-brand {
    background-color: turquoise;
    font-size: x-large;
    padding-right: 1rem;
    padding-left: 1rem;
}

section {
    background-color: white;
    border: lightgrey 2px solid;
}

section h1 {
    border-bottom: grey 1px solid;
    color: turquoise;
    font-family: 'IM Fell DW Pica SC', serif;
}

#about-me-img {
    max-width: 200px;
}

footer {
    background-color: darkgrey;
    border-top: turquoise 8px solid;
    color: lightgrey;
}