body {
    background-image: url(./Images/wood_background.jpg);
    background-repeat: repeat;
}

.navbar-brand {
    background-color: turquoise;
}

.col-8 {
    background-color: white;
}

.col-8 h1 {
    color: turquoise;
    border-bottom: grey 1px solid;
}